#big{
	position: relative;
	float: left;
	background: #FFFFFF;
/* Gray 6 */
width: 18.05vw;
height: 29.6vw;
border: 1px solid #F2F2F2;
box-sizing: border-box;
/* overall shadow for blue bg */
margin-left: 7.82vw;
margin-top: 2.6vw;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(83, 83, 83, 0.1);
}

#img{
	width: 17.73vw;
height: 18.64vw;
background: #C4C4C4;
}

#nm{

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

display: flex;
align-items: center;

/* headings */

color: #212121;
margin-left: 1.04vw;
margin-top: 1.04vw;
}

#desig{

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

/* text body */

color: #A4A7AC;

margin-top: 0.6vw;
margin-left: 1.04vw;
}

#email_id{



/* 14 px */

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* headings */

color: #212121;
margin-left: 3.06vw;
margin-top: 1.19vw;
}

#mob_num{

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* headings */

color: #212121;
margin-left: 3.06vw;
margin-top: 1.1vw;
}


#crd_msg{
	position: absolute;
top:25.1vw;
left:1.04vw;
}

#crd_mob{
	position: absolute;
top:27.3vw;
left:1.04vw;
}