
@font-face {
  font-family: Poppins;
  src: url(./font/Poppins-Regular.ttf);
}

#home_img{
	width: 98.93vw;
height: 47.5vw;

}

#img_home{
    
	width: 100%;
}

#btn{

position: absolute;
width: 11.61vw;
height: 3.51vw;
left: 8.74vw;
top: 37.6vw;

}


#title{
position: absolute;
width: 49.3vw;
height: 8.49vw;
left: 8.49vw;
top: 15.6vw;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 3.5vw;
line-height: 4.24vw;
/* or 121% */


color: #36305E;

}

#sub{

position: absolute;
width: 30.8vw;
height: 7.08vw;
left:8.49vw;
top: 27.08vw;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 1.31vw;
line-height: 2.32vw;
/* or 178% */


/* Gray 2 */

color: #4F4F4F;	
}

#man{

width: 40.99vw;
height: 41.24vw;
margin-left: 5.3vw;
margin-top: 15.3vw;

}

#arrow{
	position: fixed;
width: 3.07vw;
height: 3.07vw;
left: 94.5vw;
top: 37.8vw;
}

#home_head{
	position: absolute;
width: 34.1vw;
height: 17.4vw;
left: 53.5vw;
top: 73.05vw;

}

#home_head_a{
position: absolute;
width:41.9vw;
height: 16.69vw;
left: 8.74vw;
top: 108.3vw;

}

#man_a{
	margin-top: 2.8vw;
	width: 35.9vw;
height: 36.2vw;
margin-left: 49.3vw;
}

#vw{
	 position: absolute;
width: 9.8vw;
height: 1.36vw;
left: 53.5vw;
top: 93.4vw;

/* unwrapped button 2 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 1.17vw;
line-height: 1.46vw;
/* or 125% */

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.02em;
text-transform: capitalize;

/* new blue */

color: #324FC5;
}

#vw_a{
	position: absolute;

height: 1.46vw;
left: 8.7vw;
top: 128.1vw;

/* unwrapped button 2 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 1.17vw;
line-height:1.46vw;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.02em;
text-transform: capitalize;

/* new blue */

color: #324FC5;
}

#suc_col{
	
width: 37.8vw;
height: 3.5vw;
margin-left: 8.85vw;
margin-top:16.17vw;

/* heading 36 px */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 2.6vw;
line-height: 3.5vw;
/* identical to box height, or 133% */

display: flex;
align-items: center;

/* headings */

color: #212121;
}