
@font-face {
  font-family: Noto Sans;
  src: url(./font/NotoSans-Regular.ttf);
}




#logo{
position: absolute;
left: 9.37%;
right: 66.4%;
top: 30px;
bottom: 99%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #757575;
}

#cig_logo{
	position: absolute;
left: 6.5%;
right: 0%;
top: 10px;
bottom: 0%;

}

#logo_head{
position: absolute;
left: 9.37%;
right: 78.92%;
top: 58.51%;
bottom: 21.35%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

/* Gray 2 */

color: #4F4F4F;
}


#bg{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
height: 64px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

#first{

position: absolute;
left: 58.57%;
right: 34.41%;
top: 20px;
bottom: 98.89%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

/* Gray 3 */

color: #828282;
}

#second{

position: absolute;
left: 67.94%;
right: 27.6%;
top: 20px;
bottom: 98.89%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

/* Gray 3 */

color: #828282;
}

#third{

position: absolute;
left: 74.74%;
right: 19.25%;
top: 20px;
bottom: 98.89%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

/* Gray 3 */

color: #828282;
}

#fourth{
position: absolute;
left: 83.09%;
right: 11.93%;
top: 20px;
bottom: 98.89%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

/* Gray 3 */

color: #828282;
}

#fifth{
position: absolute;
left: 90.41%;
right: 5.86%;
top:20px;
bottom: 98.89%;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #757575;	
}


#block{
	margin-bottom: 100px;
}