#view_bg{
	position: relative;
	width: 22.98vw;
height: 23.43vw;
border: 0.065vw solid #F2F2F2;
box-sizing: border-box;
border-radius: 0.065vw;

}


#view_bg:hover{
	background:  #F3F6FD;
	border: 1px solid #F2F2F2;
box-sizing: border-box;
/* blue card */

box-shadow: 0px 0px 24px rgba(183, 183, 183, 0.18), 0px 5px 10px rgba(0, 0, 0, 0.09);
border-radius: 2px;
}

.view_head{
	position: absolute;
left: 110px;
top: 111px;


/* poppins 30 px lh 28 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
/* identical to box height, or 127% */

display: flex;
align-items: center;
text-align: center;

/* headings */

color: #212121;
}

.view_sub{

position: absolute;
width: 301px;
height: 128px;
left: 26px;
top: 166px;

/* text 18 px */

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */

text-align: center;

/* Gray 2 */

color: #4F4F4F
}

.view_link{
position: absolute;
width: 206px;
height: 20px;
left: 99px;
top: 322px;

/* unwrapped button 2 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.02em;
text-transform: capitalize;

/* new blue */

color: #324FC5;
}


.view_logo{
	position: absolute;
	width: 48px;
height: 48px;
left: 152px;
top: 24px;
}


.view_link:hover{
	color: #324FC5;
}

